@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@using website.Controllers

@if (TempData["LoginError"] != null)
{
    <div class="text-danger">@TempData["LoginError"]</div>
}

<div class="login-form">

    @using (Html.BeginUmbracoForm<MemberLoginSurfaceController>("HandleLogin", FormMethod.Post))
    {
        <h4>Log in</h4>
        <hr />

        <div class="mb-3">
            <label for="username" class="form-label">Username or Email</label>
            <input type="text" id="username" name="username" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" />
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" id="rememberMe" name="rememberMe" value="true" class="form-check-input">
            <label for="rememberMe" class="form-check-label">Remember me</label>
        </div>

        <button type="submit" class="btn btn-primary">Log in</button>
    }

</div>
