@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@using Microsoft.AspNetCore.Http.Extensions
@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Extensions

@{
    var isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
    var logoutModel = new PostRedirectModel();
    logoutModel.RedirectUrl = null;
}

@if (isLoggedIn)
{
    <hr/>
    <div class="login-status">

        <p>Logged in as <strong>@Context?.User?.Identity?.Name</strong></p>

        @using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout", new { RedirectUrl = logoutModel.RedirectUrl }))
        {
            <button type="submit" class="btn btn-primary">Log out</button>
        }

    </div>
}
else
{   
    @await Umbraco.RenderMacroAsync("Login")
    
    <hr/>
    
  
        var forgotPasswordPage = Umbraco.ContentAtRoot()?
                                     
                                     .FirstOrDefault(x => x.ContentType.Alias == "forgotPasswordPage");
    
    
    @if (forgotPasswordPage != null)
    {
        <p><a href="@forgotPasswordPage.Url()">Forgot Password?</a></p>
    }
}