@using Umbraco.Extensions
@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Web.Common.Views
@using Umbraco.Cms.Core.Models.PublishedContent
@using Microsoft.AspNetCore.Html
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@inject IPublishedValueFallback _ipvfb;

<html lang="en">

<head>

	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

	<meta charset="utf-8">
	<link rel="shortcut icon" href="/favicon.ico">
	<meta name="theme-color" content="#000000">
	<link rel="manifest" href="/manifest.json">
	<title>Communal Leisure</title>
    <meta name="description" content="Glasgow/Edinburgh DIY Event Listings">
	<link href="/all.css" rel="stylesheet">

    <meta property="og:title" content="Communal Leisure">
    <meta property="og:description" content="Glasgow/Edinburgh DIY Event Listings">
    <meta property="og:image" content="https://communalleisure.com/img/rabbit.png">
    <meta property="og:url" content="https://communalleisure.com">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Communal Leisure">
    <meta name="twitter:description" content="Glasgow/Edinburgh DIY Event Listings">
    <meta name="twitter:image" content="https://communalleisure.com/img/rabbit.png">

</head>

<body>
    <header>
        <a href="/"><img src="/img/rabbit.png" alt="Communal Leisure rabbit illustration by Oliver Pitt" /></a>

        <h1>Communal Leisure</h1>
        <p>Glasgow/Edinburgh DIY Event Listings</p>
    </header>


@RenderBody()

<hr/>
<footer>

        @if (Umbraco.AssignedContentItem.IsDocumentType("events"))
        {
            <div>
                <p>
            Communal Leisure is a space for discussion and sharing of music, art and politics, based in Glasgow. This Events Wall
            aims to primarily focus on independent promoters and DIY events, particularly if they are not-for-profit, free or cheap,
            creating space or platforms for oppressed groups, anti-capitalist, anti-racist, Queer and generally just bringing good
            stuff and people to the city. We see this in a broad way and don't want to be too earnest about things, but felt like a
            space to see these kinds of events was missing in Glasgow and didn't want to rely on corporate platforms and social
            media. There is a small collective keeping the events wall going, if you'd like to get involved or apply for a login to
            submit your own events please contact:
        </p>
        <p class="customFont"><a href="mailto:communalleisure@gmail.com">communalleisure@gmail.com</a></p>

        <div id="mc_embed_signup">
            <form action="//communalleisure.us13.list-manage.com/subscribe/post?u=fd524c88c6694324051a45384&amp;id=e4cd63a47b"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                  target="_blank">
                <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                       
                            <label for="mce-EMAIL">mailing list </label><input type="email" name="EMAIL" class="required email"
                                                                               placeholder="your email address" id="mce-EMAIL" value="">
                                                                               <input type="submit" name="subscribe" id="mc-embedded-subscribe">
                            <div data-lastpass-icon-root="true"
                                 style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                            </div>
                        
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        <input type="text"
                               name="b_fd524c88c6694324051a45384_e4cd63a47b" tabindex="-1" value="">
                    </div>
                </div>
            </form>
        </div>

        <p><a href="/zines/index.html">Communal Leisure zine archive</a></p>
        <a href="https://github.com/pampthehorn/communal-leisure/" target="_blank"><img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" style="width:50px" /></a>

        </div>
        }

        @Html.Partial("~/Views/Partials/Logout.cshtml")
    </footer>


    <script src="/script.js"></script>
    <script type="module" src="/all.js"></script>
    <script type="module" src="/calendar.js"></script>

        @await RenderSectionAsync("Scripts", required: false)

</body>
</html>