@font-face {
    font-family: 'benguiat';
    src: url('fonts/Benguiat.eot');
    src: local('?~X?'), url('fonts/Benguiat.woff') format('woff'), url('fonts/Benguiat.ttf') format('truetype'), url('fonts/Benguiat.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
.customFont {
    font-family: 'benguiat';
}

h1 {
    text-transform: uppercase;
    margin:0px;
}


header {
    text-align: center;
}

footer {
    text-align: center;
}

nav {
text-align:center;
}

h5 span:hover {
    cursor: pointer;
}


body {
    font-family:monospace;
    max-width: 100%;
    overflow-x: hidden;
}

.eventControls {
    margin-top: 1em;
}

.listing {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
}

.listing>* {
    padding: 3px;
    margin: 5px;
    background-color: white;
    width: 400px;
    list-style-type: none;
    max-width: 100%
}

.listing img {
    max-width: 100%;
}

.listing p {
    word-wrap: break-word;
}

.event h5, .event h2, .event p {
border-bottom: 1px dashed red;
margin-bottom:2px;
padding-bottom:2px;
}

.event-page h5, .event-page h2, .event-page p {
    border-bottom: 1px dashed red;
    margin-bottom: 5px;
    padding-bottom:5px;
}

.event-page {
    display: flex;
    gap: 20px;
}

.event-image,
.event-info {
    flex: 1;
}

.event-image {
text-align: center;
}
@media (max-width: 768px) {
    .event-page {
        flex-direction: column;
    }

    .list-view .poster-container {
        display: none;
    }

}



#zines img {
    max-width: 100%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

fieldset label,
fieldset input,
fieldset select {
    padding: 5px
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    color: black;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-word;
}


#eventform div {
    padding: 5px;
}

.alert-success {
    background: lightgreen;
    padding: 5px;
}


.view-toggle {
    margin: 10px 0;
}

.view-btn {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    cursor: pointer;
}

    .view-btn.active {
        background: #333;
        color: #fff;
        border-color: #333;
    }

ul.listing.list-view {
    display: block;
    grid-template-columns: none;
    gap: 0;
}

li.event-text-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    width: 100%;
}

    li.event-text-item .event-details {
        flex: 1;
        min-width: 0;
    }

    li.event-text-item h2 {
        font-size: 1.2rem; 
        margin: 5px 0;
    }

    li.event-text-item h5 {
        font-size: 0.9rem;
        color: #555;
        margin: 0;
    }

    li.event-text-item p {
        font-size: 0.9rem;
        margin: 5px 0;
       
    }


.poster-container {
    position: relative; 
    flex-shrink: 0;
}

.poster-thumb {
    width: 100px;
    height: 100px;
    object-fit: cover; 
    display: block;
    border: 1px solid #eee;
}

.poster-popover {
    display: none; 
    position: absolute;
    top: 0;
    left: 110px; 
    width: 400px;
    z-index: 10;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    padding: 5px;
}

    .poster-popover img {
        width: 100%;
        display: block;
    }

.poster-container:hover .poster-popover {
    display: block;
}

#loadMoreBtn {
cursor:pointer;
border:1px solid black;
padding: 10px;
}