@font-face {
    font-family: 'benguiat';
    src: url('fonts/Benguiat.eot');
    src: local('?~X?'), url('fonts/Benguiat.woff') format('woff'), url('fonts/Benguiat.ttf') format('truetype'), url('fonts/Benguiat.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
.customFont {
    font-family: 'benguiat';
}

h1 {
    text-transform: uppercase;
    margin:0px;
}


header {
    text-align: center;
}

footer {
    text-align: center;
}

nav {
text-align:center;
}

h5 span:hover {
    cursor: pointer;
}


body {
    font-family:monospace;
    max-width: 100%;
    overflow-x: hidden;
}

.eventControls {
    margin-top: 1em;
}

.listing {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
}

.listing>* {
    padding: 3px;
    margin: 5px;
    background-color: white;
    width: 400px;
    list-style-type: none;
    max-width: 100%
}

.listing img {
    max-width: 100%;
}

.listing p {
    word-wrap: break-word;
}

.event h5, .event h2, .event p {
border-bottom: 1px dashed red;
margin-bottom:2px;
padding-bottom:2px;
}

.event-page h5, .event-page h2, .event-page p {
    border-bottom: 1px dashed red;
    margin-bottom: 5px;
    padding-bottom:5px;
}

.event-page {
    display: flex;
    gap: 20px;
}

.event-image,
.event-info {
    flex: 1;
}

.event-image {
text-align: center;
}
@media (max-width: 768px) {
    .event-page {
        flex-direction: column;
    }
}



#zines img {
    max-width: 100%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

fieldset label,
fieldset input,
fieldset select {
    padding: 5px
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    color: black;
    word-wrap: break-word;
}


#eventform div {
    padding: 5px;
}

.alert-success {
    background: lightgreen;
    padding: 5px;
}
